* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

nav ul li a {
  position: relative;
  transition: 0.5s ease;
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: whitesmoke;
  transition: width 0.8s ease;
}

nav a:hover::after {
  width: 100%;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jumbotron {
  padding-top: 5rem;
}

.jumbotron img {
  margin-left: 180px;
  display: flex;
  justify-content: left;
  box-shadow: 0 0 30px 12px #198754;
}

.jumbotron h1 {
  margin-top: -250px;
  display: flex;
  justify-content: right;
	animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

.jumbotron h6 {
   display: flex;
   justify-content: right;
   animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

#about {
  background-color: #a5ebb1;
}

#about .col-a {
  box-shadow: 0 0 40px 6px #ffffff;

}

#projects {
  margin-top: -2px;
  background-color: #a5ebb1;
}

#projects .card .card-body_ p {
  padding: 15px;  
} 

.card {
  box-shadow: 0 15px 20px 15px #198754;
  transition: transform 0.3s;
  
}

.card:hover{
  transform: scale(1.25);
}

.card-1 {
  height: 200px;
  margin-top: 20px;
  padding-top: 30px;
  box-shadow: 0 10px 15px 3px #000000;
  transition: transform 0.3s;
}

.card-1:hover {
  transform:scale(1.2)
}
 
#gallery .carousel-inner img {
  width: 100vh;
  margin: auto;
}

section {
 padding-top: 4rem;   
}

footer {
  height: 120px;
}

footer a {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .jumbotron img{ 
    margin: auto;
    margin-top: -50px;
    margin-bottom: 300px;
    justify-content: center;
    
  }

  .jumbotron h1 {
    margin-left: 200px;
    justify-self: center ;

  }

  .jumbotron h6 {
    margin-right: 200px ;
    justify-self: center;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
  
  }
  nav ul li a {
    position: relative;
    transition: 0.5s ease;
  }

  nav ul li a:hover {
    color: rgb(255, 255, 255);
  }

  nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: whitesmoke;
    transition: width 0.8s ease;
  }

  nav a:hover::after {
    width: 80%;
  }

  nav a:hover::after {
  width: 10%;
  }
  #about {
    margin-top: -5px;
  }
  #projects .card .card-body_ p {
    padding: 25px;
  } 

  #skills .card-1 h2 {
    font-size: large;
  }

  #gallery .carousel-inner img {
  width: 450px;
  margin: auto;
  }

}

@media screen and (max-width: 576px){
 
  .jumbotron img{
    width: 200px;
    margin: auto;
    margin-top: -50px;
    margin-bottom: 300px;
    justify-content: center;
    
  }

  .jumbotron h1 {
    margin-left: 200px;
    justify-self: center ;

  }

  .jumbotron h6 {
    margin-right: 200px ;
    justify-self: center;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
  
  }
  nav ul li a {
    position: relative;
    transition: 0.5s ease;
  }

  nav ul li a:hover {
    color: rgb(255, 255, 255);
  }

  nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: whitesmoke;
    transition: width 0.8s ease;
  }

  nav a:hover::after {
    width: 80%;
  }

  nav a:hover::after {
  width: 10%;
  }

  #gallery .carousel-inner img {
  width: 200px;
  margin: auto;
  }

}

/* KEYFRAME */
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
